body {
  background-color: #dfe4ea;
}

#header_nav {
  background-color: lightblue;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

#header_nav li {
  float: left;
}

#header_nav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

#header_nav li a:hover {
  background-color: #111;
}

#front_page_banner {
  height: 50vh;
  width: 100vw;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
